*{
  padding:  0 0 ;
  margin:  0 0;
  box-sizing: border-box;
}
body{
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
  border-inline-start: 2vw;
  border-inline-end: 2vw;
}

/* Track */
::-webkit-scrollbar-track {

  background: grey;
  //background: yellow;
  border-radius: 100vw;
}
 
/* Handle */
::-webkit-scrollbar-thumb {

  background-color: white;
  border-radius: 100vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.connector{
  width: 84vw;
  margin: auto;
  border: 1px solid black;
  height: 13.5vh;
  background-image:url('./Components//images/bg-shorten-desktop.svg') ;
  border-radius: 1.1vw;
  background-size: contain;
  padding-left: 8vw;
  padding-top: 3vh;
  background-color:rgb(48, 13, 79) ;
  position: relative;
  bottom: 6vh;
  display: flex;
  input{
    width: 50vw;
    height: 6vh;
    padding-left: 2vw;
    //font-size: 16px;
    border-radius: 1vw;
    border: 1px solid white;
  }
  .input::placeholder{
    color: red;
  }
  button{
    margin-left: 5vw;
    width: 11vw;
    height: 6vh;
    background-color:rgb(126, 242, 194);
    border-radius: 1.5vw;
    outline: none;
    color: white;
    border: none;
    cursor: pointer;
  }
  span{
    position: absolute;
    bottom: 1vh;
    color: white;
    font-style: italic;
    left: 8vw;
  }
  button:hover{
    opacity: 0.67;
  }
}
.list{
  width:84vw;
  //background-color: white;
  position: relative;
  bottom: 3vh;
  margin: auto;
  .array{
    width:84vw;
    min-height: 8.5vh;
    background-color: white;
    border-radius: 0.65vw;
    margin-bottom: 2.1vh;
    position: relative;
    .left{
      position: relative;
      display:flex ;
      left: 2vw;
      top: 1.3vh;
      width: 33vw;
      max-width: 450px;
      text-align: left;
    }
    .right{
      position: absolute;
      top: 1.3vh;
      right: 20vw;
      color:rgb(64, 202, 145) ;
    }
    hr{
      display: none;
    }
    button{
      position: absolute;
      cursor: pointer;
      top: 1.3vh;
      width: 6.4vw;
      height: 4vh;
      right: 8vw;
      border-radius: 0.5vw;
      border: none;
      color: white;
      background-color:rgb(64, 202, 145) ;
    }
    button:hover{
      opacity: 0.67;
    }
  }
}
.App{
  
  overflow-x: hidden;
  .home{
    padding: 3.5vh 0vw 3.5vh 7vw;
    margin-top: 2vh;
    height: 90vh;
    img{
      object-fit: contain;
    }
    .option{
      display: none;
    }
    header{
      display: flex;
    }
    .semi_header{
      display: flex;
      hr{
        display:none;
      }
     
      section{
        display: flex;
        margin-left: 3vw;
        padding-top: 1.1vh;
        span{
          font-size: medium;
          font-weight: 500;
          color: grey;
          margin-right: 1.7vw;
          transition: color 0.6s ease-in;
          cursor: pointer;
        }
        span:hover{
          color: black;
        }
      }
      .aside{
        margin-left: 33vw;
        padding-top: 1.1vh;
        p{
          display: inline-block;
          font-size: larger;
          cursor: pointer;
          font-size: medium;
          font-weight: 500;
          margin-right: 2vw;

        }
        .button{
          //border: 1px solid green;
          border: none;
          background-color: rgb(126, 242, 194);
          font-size: medium;
          color: white;
          padding: 1vh 1.3vw;
          border-radius:2vw;
        }
        .button:hover{
          opacity: 0.6;
          color: white;
        }
        p:hover{
          color: black;
          color: grey;
        }
      }
    }
    main{
      margin-top: 5vh;
      display: flex;
      img{
        float: right;
        position: relative;
        left: 3vw;
        width: 60vw;
        height: 65vh;
        object-fit: contain;
        opacity: 0;
        animation: visible 0.5s 0.5s forwards;

      }
      @keyframes visible {
        from{
          opacity: 0;
        }
        to{
          opacity: 1;
        }
      }
      aside{
        
        width: 50vw;
        margin-right: 12vw;
        padding-top: 5vh;
        h1{
          font-size: 48px;
        }
        p{
          margin-top: 1.1vh;
          font-size: large;
          margin-bottom: 3vh;
          width: 28vw;
        }
        button{
        padding: 1.5vh 2.8vw;
        border: none;
        font-size: medium;
        background-color:rgb(126, 242, 194) ;
        border-radius: 2vw;
        color: white;
        cursor: pointer;
        }
        button:hover{
          opacity: 0.67;
        }
      }
    }
  }
  .s_page{
    min-height: 81vh;
    background-color: rgb(211, 219, 224);
    text-align: center;
    h2{
      margin-top: 6vh;
    }
    p{
      width: 35vw;
      font-weight: 500;
      margin-top: 2vh;
      color: grey;
    }
    .flexer{
      display: flex;
      margin: 6vh 7vw 0vw 7vw;
      padding-bottom:6vh ;
      aside{
        display: inline-block;
        width: 25.3vw;
        position: relative;
        height: 26vh;
        border: 1px solid white;
        margin-right: 4vw;
        padding-left: 1vw;
        padding-right: 1vw;
        text-align: left;
        background-color: white;
        border-radius: 0.5vw;
        .div{
          width: 60px;
          height: 60px;
          position: absolute;
          top: -3vh;
          left: 3vw;
          text-align: center;
          align-content: center;
          padding-top: 13px;
          background-color: rgb(28, 32, 38);
          border-radius: 50%;
          img{
            object-fit: contain;
            width: 35px ;
            //position: absolute;
            height: 35px;
          }
        }
        
        h2{
          font-size: medium;
        }
        p{
          font-size: small;
          width:23vw;
        }
      }
      .one{
        hr{
          position: absolute;
          width: 6vw;
          height: 0.9vh;
          border-radius: 0.9vw;
          background-color:rgb(67, 153, 133) ;
          right: -6vw;
        }
      }
      .two{
        margin-top: 5vh;
        hr{
          position: absolute;
          right: -6vw;
          top: 15vh;
          width: 6vw;
          height: 0.9vh;
          background-color:rgb(67, 153, 133);
          border-radius: 0.6vw;
        }
      }
      .three{
        margin-top: 10vh;
      }

    }
    
  }
  .pre_footer{
    width: 100vw;
    height: 25vh;
    background-image: url('./Components/images/bg-boost-desktop.svg');
    background-color:rgb(48, 13, 79);
    background-size:cover;
    text-align: center;
    padding-top: 3vh;
    h4{
      color: rgb(228, 224, 224);
      font-size: x-large;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: 500;
    }
    button{
      margin-top: 2vh;
      padding: 1.1vh 2vw;
      color: white;
      background-color: rgb(126, 242, 194) ;
      border-radius: 2vw;
      cursor: pointer;
      border: 1px solid rgb(126, 242, 194);
    }
    button:hover{
      opacity: 0.67;
    }
  }
  footer{
    display: flex;
    min-height: 29vh;
    padding: 4vh 8vw;
    background-color:rgb(16, 14, 18) ;
    color: white;
    img{
      object-fit: contain;
      position: relative;
      bottom: 7vh;
      margin-right: 14vw;
      filter:invert(1);
      -webkit-filter: invert(1);
    }
    ul{
      margin-right: 6.2vw;
      .main_text{
        font-size: large;
        font-weight: 600;
      }
      .main_text:hover{
        color: white;
      }
      li{
        list-style: none;
        font-size: small;
        margin-top: 0.78vh;
        cursor: pointer;
      }
      :hover{
        color:rgb(126, 242, 194);
      }
    }
    .diver{
      margin-left: 7vw;
      margin-top: 2vh;
      display: flex;
      flex-wrap: nowrap;
      .MuiSvgIcon-root{
        margin-right: 1.1vw;
        cursor: pointer;
      }
      :hover{
        color:rgb(126, 242, 194);
      }
    }
  }

}
@media screen and (max-width:'970px') {
  .App{
    .home{
      main{
        aside{
         margin-right:0vw;
        }
      }
    }
  }
  
}
@media screen and (max-width:'550px') {
  .connector{
    height: 19.8vh;
    background-image:url('./Components//images/bg-shorten-mobile.svg');
    background-size: contain ;
    input{
      font-size: 16px;
      width: 70vw;
    }
    
    button{
      position: absolute;
      bottom: 1.5vh ;
      width: 70vw;
      margin-left:0.3vw;
      height: 4.5vh;
      font-size: large;
    }
    span{
     bottom:7vh;
    }
  }
  .list{
    .array{
      min-height: 15.5vh;
      padding-top: 1.5vh;
      height:inherit;
      padding-bottom: 1vh;
      border-radius: 1.2vw;
      text-align: left;
      hr{
        display: block;
        margin-top: 0.83vh;
        margin-bottom: 0.8vh;
      }
      .left,.right{
        position: static;
        word-wrap: break-word;
        padding-left: 5vw;
        font-size: large;
        display: block;
        width: inherit;
      }
      .right{
        margin-bottom: 1.3vh;
      }
      button{
        position: static;
        font-size: large;
        display: block;
        width:70vw;
        height: 4vh;
        margin:auto;
        border-radius: 1vw;
      }
    }
  }
  .App{
    .home{
      padding: 2.5vh 0;
      min-height: 115vh;
      header{
        
        .option{
          display: inline-block;
          position: absolute;
          font-size: x-large;
          right: 5vw;
        }
        img{
          margin-left: 3vw;
        }
        .semi_header{
          //display: none;
          flex-direction: column;
          position: absolute;
          width: 86vw;
          min-height: 93vw;
          padding-top: 5vh;
          border-radius: 4vw;
          z-index: 1;
          text-align: center;
          top: 13vh;
          left: 7vw;
          background-color: rgb(7, 42, 102);
          transition: display 1s ease-in-out;
          section{
            flex-direction: column;
            span{
              font-size: x-large;
              font-weight: 600;
              color: white;
              margin-bottom: 1.8vh;
            }
          }
          hr{
            display: block;
            margin-top: 3vh;
            margin-bottom: 2vh;
            width: 70vw;
            margin-left:7vw;
          }
          .aside{
            display: flex;
            flex-direction: column;
            margin-left: 0;
            p{
              font-size: x-large;
              font-weight: 600;
              color: white;
              margin-bottom: 2vh;
            }
            .button{
              font-size: x-large;
              width: 70vw;
              margin-left: 7vw;
              border-radius: 5vw;
            }
          }
        }
      }
      main{
        flex-direction: column-reverse;
        margin-top: 0;
        img{
          width:150vw;
          height: 60vh;
        }
        aside{
          width: 100vw;
          text-align: center;
          margin-right: 0vw;
          p{
            width: 98vw;
            color: grey;

          }
        }
      }
    }
    .s_page{
      min-height: 88vh;
      h2{
        font-size: 30px;
      }
      center{
        p{
          width: 80vw;
        }
      }
      .flexer{
        flex-direction: column;
        margin: 6vh 7vw 0vh 7vw;
        aside{
          width:80vw;
          height: 22vh;
          margin: auto;
          text-align: center;
          margin-top: 4vh;
          border-radius: 2vw;
          .div{
            margin-left:30vw;
          }
          p{
            width: 75vw;
          }
        }
        .one{
          hr{
            right: 33vw;
            transform: rotate(90deg);
            width: 13vw;
            bottom: -4vh;
          }
        }
        .two{
          margin-top: 9vh;
          hr{
            top: 25vh;
            transform: rotate(90deg);
            right: 31.5vw;
            width: 15vw;
            
          }
        }
        .three{
          margin-bottom:2vh;
        }
      }
    }
    .pre_footer{
      padding-top: 6vh;
      button{
        width: 50vw;
        height: 5vh;
        font-size: large;
        border-radius: 5vw;
      }
    }
    footer{
      flex-direction:column;
      text-align: center;
      //align-items: center;
      img{
        width: 25vw;
        margin-left: 26vw;
        margin-bottom: 3vh;
        //margin-top: 10vh;
        bottom: 0;
      }
      .diver{
        margin-left: 25vw;
        margin-top: 3vh;
      .MuiSvgIcon-root{
        margin-right: 2.5vw;
      }
      }
    }
  }
  
}